webserviceproj/src/main/app/webserviceproj.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	<ws:consumer-config name="Web_Service_Consumer" wsdlLocation="https://www.w3schools.com/xml/tempconvert.asmx?WSDL" service="TempConvert" port="TempConvertSoap" serviceAddress="http://www.w3schools.com/xml/tempconvert.asmx" doc:name="Web Service Consumer"/>
	<flow name="webserviceprojFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/{temp}" doc:name="HTTP"/>
		<set-variable variableName="temperature" value="#[message.inboundProperties.'http.uri.params'.temp]" doc:name="Variable"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 https://www.w3schools.com/xml/
---
{
	ns0#CelsiusToFahrenheit: {
		ns0#Celsius: flowVars.temperature
	}
}]]></dw:set-payload>
		</dw:transform-message>
		<ws:consumer config-ref="Web_Service_Consumer" operation="CelsiusToFahrenheit" doc:name="Web Service Consumer"/>
		<json:xml-to-json-transformer doc:name="XML to JSON"/>
		<logger message="#[flowVars.temperature]" level="INFO" doc:name="Logger"/>
	</flow>
</mule>
